body {
  color: #f6f4f1;
  width: 100%;
  background-color: #0e0e0e;
}

.main {
  margin-top: 40px;
  width: 100%;
  height: auto;
  padding: 20px;
  padding-top: 10px;
}

.main > h1 {
  font-size: 40px;
}

.main > p {
  color: #f6f4f1;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 15px;
}

button {
  background-color: #9edf9c;
  border-top: 2px transparent;
  border-left: 2px transparent;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  color: #000;
  margin-top: 75px;
  margin-bottom: 20px;
}

button:hover {
  border-top: 2px transparent;
  border-left: 2px transparent;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.projects {
  display: flex;
  gap: 10px;
  align-items: center;
}

.projects > h3 {
  margin-left: 30px;
  border: 2px solid #f6f4f1;
  padding: 5px 8px;
  border-radius: 50%;
}

.projects > h3:hover {
  background-color: rgb(221, 58, 58);
  color: #000;
  border: black;
}

.projectCard {
  border: 1.5px solid white;
  width: 350px;
  padding: 20px;
  height: 300px;
}

.projectCard > a {
  color: rgb(112, 112, 232);
}

.projectCard > p {
  margin-bottom: 10px;
}

.projectCard_title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: 2px underline #9edf9c;
  margin-bottom: 10px;
}

.home-main-feed::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 100%, 0.75);
}

.main > h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.skills_main {
  display: flex;
  gap: 20px;
}

.skills_main > p {
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.skills_main > p:hover {
  background-color: gray;
  transition: 0.2s ease-in;
}

.facts {
  background-color: rgb(221, 58, 58);
}

::-webkit-scrollbar {
  width: 0.5em;
  display: block;
}

::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 100vw;
  margin-block: 0.2em;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.85);
  border: 0.15em solid black;
  border-radius: 100vw;
  margin-block: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 100%, 0.75);
}