body {
  color: #f6f4f1;
  width: 100%;
  background-color: #0e0e0e;
}

.main {
  margin-top: 40px;
  width: 100%;
  height: auto;
  padding: 20px;
  padding-top: 10px;
}

.main > h1 {
  font-size: 2.5rem;
}

.main > p {
  color: #f6f4f1;
  font-size: 1.125rem;
  margin-top: 50px;
  margin-bottom: 15px;
}

button {
  background-color: #9edf9c;
  border: 2px solid white;
  color: #000;
  margin-top: 75px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  border-color: #9edf9c;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.projectCard {
  border: 1.5px solid white;
  width: calc(33% - 10px);
  padding: 20px;
  height: auto;
  min-height: 400px;
  box-sizing: border-box;
}

.projectCard > a {
  color: rgb(112, 112, 232);
}

.projectCard > p {
  margin-bottom: 10px;
}

.projectCard_title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

.main > h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.skills_main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills_main > p {
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.skills_main > p:hover {
  background-color: gray;
  transition: 0.2s ease-in;
}

.facts {
  background-color: rgb(221, 58, 58);
}

.facts_main {
  margin-top: 20px;
}

.facts_main ul {
  padding: 0;
}

.facts_main li {
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 970px) {
  .main > h1 {
    font-size: 2rem;
  }

  .main > p {
    font-size: 1rem;
  }

  button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .projectCard {
    width: calc(100% - 10px);
  }

  .projects {
    flex-direction: column;
  }

  .skills_main {
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .projectCard {
    width: calc(33% - 10px);
  }
}