.main {
  width: 100%;
  height: auto;
  margin-top: 60px;
  background-color: #0e0e0e;
  padding-bottom: 20px;
}

.projects_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
  margin-bottom: 50px;
}

.current_main {
  padding: 0px 30px;
}

.main > h3 {
  padding-left: 30px;
  text-decoration: underline;
  color: #9fcd9e;
}

@media (max-width: 768px) {
  .projects_main {
    flex-direction: column;
    align-items: center;
  }

  .current_main {
    padding: 0 20px;
  }

  .main > h3 {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .main > h3 {
    font-size: 1.2rem;
  }
}